html {
  width: 100%;
}
.App {
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  min-height: 500px;
  border: 1px solid #333;
}

.App-header {
  background-color: #222;
  color: #FFC900;
}

.App-header a {
  text-decoration: none;
  color: white;
}

.App-header a:visited {
  color: white;
}


.appTitle {
  font-weight: 800;
  font-size: 1.8em;
  letter-spacing: 1px;
}

.appBody {
  padding-top: 10px;
  min-height: 500px;
}

.headerBlock {
  font-weight: 800;
  line-height: 10px;
  display: inline-block;
  background: grey;
  height: 40px;
}

.headerEpGuide {
  width: 70%;
  text-align: left;
}

.headerEpGuide p {
  padding-left: 0.7em;
}

.headerAboutUs {
  width: 30%;
  text-align: left;
}

.headerAboutUs p {
  padding-left: 0.7em;
}

.activeNavLink div {
  background: #3084F0;
  height: 40px;
}

.jumpToSeason {
  border-bottom: 5px solid black;
}

.jumpToSeasonTitle {
  margin: 0 auto;
}

button {
  border: none;
  text-decoration: none;
  background-color: grey;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 12px;
  cursor: pointer;
}

button:active {
  background-color: #3084F0;
}

.highlightCurrentSeason {
  background-color: #3084F0;
}
